.DS_Store
*.iml
*.dex
*.class
*.apk
*.ap_
bin/
gen/
.gradle/
.externalNativeBuild
/build
/captures
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/local.properties
/.idea/modules.xml
/.idea/vcs.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/markdown-exported-files.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/